<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Difdisofil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Difdisofil.Properties.Settings>
            <setting name="sCPo" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="sCPsd" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="FMl" serializeAs="String">
                <value>150, 150</value>
            </setting>
            <setting name="FMs" serializeAs="String">
                <value>923, 629</value>
            </setting>
            <setting name="sCLsd" serializeAs="String">
                <value>371</value>
            </setting>
            <setting name="sCLo" serializeAs="String">
                <value>Horizontal</value>
            </setting>
            <setting name="sCGsd" serializeAs="String">
                <value>694</value>
            </setting>
            <setting name="sCGo" serializeAs="String">
                <value>Vertical</value>
            </setting>
        </Difdisofil.Properties.Settings>
    </userSettings>
</configuration>
